@model IEnumerable<Size_Master>

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);"> <h3 style="color:white">Size Details</h3></nav>


@if (Model.Any())
{
    <a class="btn btn-success" style="width:auto" asp-controller="Size" asp-action="ADDSize">
        Add Size
    </a>
    <a class="btn btn-success" style="width:auto" asp-controller="Size" asp-action="Excel">
        Export
    </a>
    <hr />
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>                            
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Data in Model)
                        {
                            <tr>
                                <td>@Data.NAME</td>
                                <td>
                                    <a asp-action="EditSize" asp-controller="Size" asp-route-id="@Data.ID">
                                        <i class="fas fa-user-edit"></i>
                                    </a>&nbsp;&nbsp;
                                    <a asp-action="DeleteSize" asp-controller="Size" asp-route-id="@Data.ID">
                                        <i class="far fa-trash-alt"></i>
                                    </a>&nbsp;&nbsp;
                                    <a asp-action="ActionSize" asp-controller="Size" asp-route-id="@Data.ID">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        @if (ViewBag.Message != null)
                        {
                            <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
                            </script>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No Size Created Yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a Size
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Size" asp-action="ADDSize">
                Add Size
            </a>
        </div>
    </div>
}
