@model IEnumerable<WebERP.Models.RM_HDR>

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);"> <h3 style="color:white">Raw Material Issue</h3></nav>


@if (Model.Any())
{
    <a class="btn btn-primary" style="width:auto" asp-controller="RawMaterial" asp-action="RM_Master">
        Add
    </a>
    @*<a class="btn btn-success" style="width:auto" asp-controller="Company" asp-action="Excel">
            Export
        </a>*@
    <hr />
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Doc Date</th>
                            <th>Doc No</th>
                            <th>Employee Name</th>
                            <th>Item Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Data in Model)
                        {
                            <tr>
                                <td>@Data.Doc_Date.Value.Day-@Data.Doc_Date.Value.Month-@Data.Doc_Date.Value.Year</td>
                                <td>@Data.Doc_No</td>
                                <td>@Data.EMP_NAME</td>
                                <td>@Data.ITEM_NAME</td>
                                <td>
                                    <a asp-action="EditRM" asp-controller="RawMaterial" asp-route-id="@Data.ID">
                                        <i class="fas fa-user-edit"></i>
                                    </a>&nbsp;&nbsp;
                                    <a asp-action="DeleteRM" asp-controller="RawMaterial" asp-route-id="@Data.ID">
                                        <i class="far fa-trash-alt"></i>
                                    </a>&nbsp;&nbsp;
                                    <a asp-action="ActionRM" asp-controller="RawMaterial" asp-route-id="@Data.ID">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        @if (ViewBag.Message != null)
                        {
                            <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
                            </script>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No Raw Material Entry Created Yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to Assign Raw Material
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="RawMaterial" asp-action="RM_Master">
                Add
            </a>
        </div>
    </div>
}
