@model IEnumerable<Company>

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);"> <h3 style="color:white">Companies Details</h3></nav>


@if (Model.Any())
{
    <a class="btn btn-success" style="width:auto" asp-controller="Company" asp-action="AddCompany">
        Add Company
    </a>
    <a class="btn btn-success" style="width:auto" asp-controller="Administration" asp-action="">
        Export
    </a>
    <hr />
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Contact No</th>
                            <th>GST No</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Data in Model)
                        {
                        <tr>
                            <td>@Data.NAME</td>
                            <td>@Data.PH_NO</td>
                            <td>@Data.SERVICE_TAX_NO</td>
                            <td>@Data.ADD1 || @Data.ADD2</td>
                            <td>@Data.CITY_CODE</td>
                            <td>
                                <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@Data.ID">
                                    <i class="fas fa-user-edit"></i>
                                </a>&nbsp;&nbsp;
                                <a href="#">
                                    <i class="far fa-trash-alt"></i>
                                </a>&nbsp;&nbsp;
                                <a href="#">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No Company Created Yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a Role
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Company" asp-action="SAVECompany">
                Add Company
            </a>
        </div>
    </div>
}
