@model IEnumerable<WebERP.Models.countryModel>

@{
    ViewData["Title"] = "Location Master";
}

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
    <h3 style="color:white">Location Master Tabs</h3>
</nav>
<hr />
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#country" data-toggle="tab" aria-expanded="true">Country</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#state" data-toggle="tab" aria-expanded="false">State</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#city" data-toggle="tab" aria-expanded="true">City</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="country">        
        @if (Model.Any())
        {
            <br/>
            <a class="btn btn-success" style="width:auto" asp-controller="administration" asp-action="CreateRole">
                Add Country
            </a>
            <hr />
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Country ID</th>
                                    <th>Country Code</th>
                                    <th>Country Name</th>
                                    <th>Created Date</th>
                                    <th>Created By</th>
                                    <th>Last Modified Date</th>
                                    <th>Last Modified By</th>
                                    <th>User Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var country in Model)
                                {
                                    <tr>
                                        <td>@country.Id</td>
                                        <td>@country.CountryCode</td>
                                        <td>@country.Name</td>
                                        <td>@country.Ins_Date</td>
                                        <td>@country.Ins_Uid</td>
                                        <td>@country.Upd_Date</td>
                                        <td>@country.Upd_Uid</td>
                                        <td>
                                            <a href="#">
                                                <i class="fas fa-user-edit"></i>
                                            </a> &nbsp;&nbsp;
                                            <a href="#">
                                                <i class="far fa-trash-alt"></i>
                                            </a>&nbsp;&nbsp;
                                            <a href="#">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    None Country Has Been Created Yet
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use the button below to Add a new Country
                    </h5>
                    <a class="btn btn-primary" style="width:auto" asp-controller="administration" asp-action="CreateRole">
                        Add Country
                    </a>
                </div>
            </div>
        }        
    </div>
    <div class="tab-pane fade" id="state">
        @if (Model.Any())
        {
            <br />
            <a class="btn btn-success" style="width:auto" asp-controller="administration" asp-action="CreateRole">
                Add State
            </a>
            <hr />
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Country ID</th>
                                    <th>Country Code</th>
                                    <th>Country Name</th>
                                    <th>Created Date</th>
                                    <th>Created By</th>
                                    <th>Last Modified Date</th>
                                    <th>Last Modified By</th>
                                    <th>User Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var country in Model)
                                {
                                    <tr>
                                        <td>@country.Id</td>
                                        <td>@country.CountryCode</td>
                                        <td>@country.Name</td>
                                        <td>@country.Ins_Date</td>
                                        <td>@country.Ins_Uid</td>
                                        <td>@country.Upd_Date</td>
                                        <td>@country.Upd_Uid</td>
                                        <td>
                                            <a href="#">
                                                <i class="fas fa-user-edit"></i>
                                            </a> &nbsp;&nbsp;
                                            <a href="#">
                                                <i class="far fa-trash-alt"></i>
                                            </a>&nbsp;&nbsp;
                                            <a href="#">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    No State Has Been Created Yet
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use the button below to Add a new State
                    </h5>
                    <a class="btn btn-primary" style="width:auto" asp-controller="administration" asp-action="CreateRole">
                        Add State
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane fade" id="city">
        @if (Model.Any())
        {
            <br />
            <a class="btn btn-success" style="width:auto" asp-controller="administration" asp-action="CreateRole">
                Add City
            </a>
            <hr />
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Country ID</th>
                                    <th>Country Code</th>
                                    <th>Country Name</th>
                                    <th>Created Date</th>
                                    <th>Created By</th>
                                    <th>Last Modified Date</th>
                                    <th>Last Modified By</th>
                                    <th>User Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var country in Model)
                                {
                                    <tr>
                                        <td>@country.Id</td>
                                        <td>@country.CountryCode</td>
                                        <td>@country.Name</td>
                                        <td>@country.Ins_Date</td>
                                        <td>@country.Ins_Uid</td>
                                        <td>@country.Upd_Date</td>
                                        <td>@country.Upd_Uid</td>
                                        <td>
                                            <a href="#">
                                                <i class="fas fa-user-edit"></i>
                                            </a> &nbsp;&nbsp;
                                            <a href="#">
                                                <i class="far fa-trash-alt"></i>
                                            </a>&nbsp;&nbsp;
                                            <a href="#">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    No City Has Been Created Yet
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use the button below to Add a new City
                    </h5>
                    <a class="btn btn-primary" style="width:auto" asp-controller="administration" asp-action="CreateRole">
                        Add City
                    </a>
                </div>
            </div>
        }
    </div>
</div>

