@model WebERP.Models.locationViewModel

@{
    ViewData["Title"] = "Location Master";
}

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
    <h3 style="color:white">Location Master Tabs</h3>
</nav>
<hr />
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#country" data-toggle="tab" aria-expanded="false">Country</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#state" data-toggle="tab" aria-expanded="false">State</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#city" data-toggle="tab" aria-expanded="false">City</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    @*<div id="#PlaceHolderHere"></div>*@
    <div class="tab-pane show active" id="country">
        @if (Model.countryList.Any())
        {
            <br />
            <a class="btn btn-success text-white" data-toggle="modal" data-target="#countryModal">
                Add Country
            </a>
            @*<button type="button" class="btn btn-success text-white" data-toggle="ajax-modal" data-target="#countryModal"
                        data-url="@Url.Action("AddCountry")">
                    Add Country
                </button>*@
            <hr />
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Country ID</th>
                                    <th>Country Code</th>
                                    <th>Country Name</th>
                                    <th>Created Date</th>
                                    <th>Created By</th>
                                    <th>Last Modified Date</th>
                                    <th>Last Modified By</th>
                                    <th>User Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var country in Model.countryList)
                                {
                                    <tr>
                                        <td>@country.Id</td>
                                        <td>@country.CountryCode</td>
                                        <td>@country.Name</td>
                                        <td>@country.Ins_Date</td>
                                        <td>@country.Ins_Uid</td>
                                        <td>@country.Upd_Date</td>
                                        <td>@country.Upd_Uid</td>
                                        <td>
                                            <a href="#">
                                                <i class="fas fa-user-edit"></i>
                                            </a> &nbsp;&nbsp;
                                            <a href="#">
                                                <i class="far fa-trash-alt"></i>
                                            </a>&nbsp;&nbsp;
                                            <a href="#">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    None Country Has Been Created Yet
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use the button below to Add a new Country
                    </h5>
                    <a class="btn btn-success text-white" data-toggle="modal" data-target="#countryModal">
                        Add Country
                    </a>
                    @*<button type="button" class="btn btn-success text-white" data-toggle="ajax-modal" data-target="#countryModal"
                                data-url="@Url.Action("AddCountry")">
                            Add Country
                        </button>*@
                </div>
            </div>
        }
    </div>

    <div class="tab-pane fade" id="state">
        @if (Model.stateList.Any())
        {
            <br />
            <a class="btn btn-success text-white" data-toggle="modal" data-target="#stateModal">
                Add State
            </a>
            <hr />
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dtstate" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>State ID</th>
                                    <th>State Code</th>
                                    <th>State Name</th>
                                    <th>Country</th>
                                    <th>Created Date</th>
                                    <th>Created By</th>
                                    <th>Last Modified Date</th>
                                    <th>Last Modified By</th>
                                    <th>User Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var state in Model.stateList)
                                {
                                    <tr>
                                        <td>@state.Id</td>
                                        <td>@state.StateCode</td>
                                        <td>@state.Name</td>
                                        <td>@state.CountryCode , @state.Country.Name</td>
                                        <td>@state.Ins_Date</td>
                                        <td>@state.Ins_Uid </td>
                                        <td>@state.Upd_Date</td>
                                        <td>@state.Upd_Uid</td>
                                        <td>
                                            <a href="#">
                                                <i class="fas fa-user-edit"></i>
                                            </a> &nbsp;&nbsp;
                                            <a href="#">
                                                <i class="far fa-trash-alt"></i>
                                            </a>&nbsp;&nbsp;
                                            <a href="#">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    No State Has Been Created Yet
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use the button below to Add a new State
                    </h5>
                    <a class="btn btn-success text-white" data-toggle="modal" data-target="#stateModal">
                        Add State
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="tab-pane fade" id="city">
        @if (Model.cityList.Any())
        {
            <br />
            <a class="btn btn-success text-white" data-toggle="modal" data-target="#cityModal">
                Add City
            </a>
            <hr />
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dtcity" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>City ID</th>
                                    @*<th>City Code</th>*@
                                    <th>City Name</th>
                                    <th>State</th>
                                    <th>Country</th>
                                    <th>Created Date</th>
                                    <th>Created By</th>
                                    <th>Last Modified Date</th>
                                    <th>Last Modified By</th>
                                    <th>User Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var city in Model.cityList)
                                {
                                    <tr>
                                        <td>@city.Id</td>
                                        @*<td>@city.ci</td>*@
                                        <td>@city.Name</td>
                                        <td>@city.State.StateCode, @city.State.Name</td>
                                        <td>@city.State.Country.CountryCode, @city.State.Country.Name</td>
                                        <td>@city.Ins_Date</td>
                                        <td>@city.Ins_Uid</td>
                                        <td>@city.Upd_Date</td>
                                        <td>@city.Upd_Uid</td>
                                        <td>
                                            <a href="#">
                                                <i class="fas fa-user-edit"></i>
                                            </a> &nbsp;&nbsp;
                                            <a href="#">
                                                <i class="far fa-trash-alt"></i>
                                            </a>&nbsp;&nbsp;
                                            <a href="#">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    No City Has Been Created Yet
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use the button below to Add a new City
                    </h5>
                    <a class="btn btn-success text-white" data-toggle="modal" data-target="#cityModal">
                        Add City
                    </a>
                </div>
            </div>
        }
    </div>


    <div id="countryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="card">
                    <div class="card-header" style="background: linear-gradient(135deg, #00ff7ee6 0%, #74009a 100%);">
                        <h3 class="mb-0 card-title text-white">New Country Details</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-controller="Location" asp-action="AddCountry">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Country Code</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="countrycode" placeholder="country code like e.g IN for India">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Country Name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="countryname" placeholder="country name here...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <button type="button" class="btn btn-secondary mr-2 mt-1 mb-1  pull-right" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary mr-2 mt-1 mb-1 us-button pull-right">Save</button>
                            </div>
                        </form>                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="stateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="card">

                        <div class="card-header" style="background: linear-gradient(135deg, #00ff7ee6 0%, #74009a 100%);">
                            <h3 class="mb-0 card-title text-white">New State Details</h3>
                        </div>

                        <div class="card-body">
                            <form method="post" asp-controller="Location" asp-action="AddState" >
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label >Country</label>
                                            <select name="selectCountryCode" class="form-control" 
                                                    asp-items="@(new SelectList(Model.countryDropDown,"Value", "Text"))">
                                            </select>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-label">State Code</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="statecode" id="state_code" placeholder="State code like e.g CH for Chandigarh">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-label">State Name</label>
                                            <input type="text" class="form-control" name="statename" id="state_name" placeholder="State name here..." >
                                            <input type="hidden" class="form-control" id="id" name="id" value="" required="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <button type="button" class="btn mr-2 mt-1 mb-1 btn-secondary pull-right" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary mr-2 mt-1 mb-1 us-button pull-right" type="submit">
                                        <i class="fa fa-save"></i> Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="cityModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="card">
                            <div class="card-header" style="background: linear-gradient(135deg, #00ff7ee6 0%, #74009a 100%);">
                                <h3 class="mb-0 card-title text-white">New City Details</h3>
                            </div>
                            <div class="card-body">
                                <form method="post" asp-controller="Location" asp-action="AddCity">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">                                               
                                                <label asp-for="stateId">State</label>
                                                <select name="selectStateCode" class="form-control" asp-items="@(new SelectList(Model.stateDropDown,"Value", "Text"))"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">City Code</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="citycode" id="city_code" placeholder="City code like e.g GN for Greater Noida" value="" required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">City Name</label>
                                                <input type="text" class="form-control" name="cityname" id="city_name" placeholder="city name here..." value="" required="">
                                                <input type="hidden" class="form-control" id="id" name="id" value="" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <button type="button" class="btn mr-2 mt-1 mb-1 btn-secondary pull-right" data-dismiss="modal">Close</button>
                                        <button class="btn btn-primary mr-2 mt-1 mb-1 us-button pull-right" type="submit">
                                            <i class="fa fa-save"></i> Save
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

