@model IEnumerable<WebERP.Models.StockDTL_Model>

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);"> <h3 style="color:white">Stock Details</h3></nav>


@if (Model.Any())
{
    <a class="btn btn-success" style="width:auto" asp-controller="GoDown" asp-action="GoDownStock">
        Add
    </a>
    @*<a class="btn btn-success" style="width:auto" asp-controller="Company" asp-action="Excel">
            Export
        </a>*@
    <hr />
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Entry</th>
                            <th>Godown Name</th>
                            <th>Item Name</th>
                            <th>Stock IN</th>
                            <th>Stock Out</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Data in Model)
                        {
                        <tr>
                            <td>@Data.Tran_Table</td>
                            <td>@Data.GDW_CODE</td>
                            <td>@Data.Item_Code</td>
                            <td>@Data.Stk_Qty_IN</td>
                            <td>@Data.Stk_Qty_OUT</td>
                            <td>
                                @*<a asp-action="EditGateEntry" asp-controller="GateEntry" asp-route-id="@Data.ID">
                                    <i class="fas fa-user-edit"></i>
                                </a>&nbsp;&nbsp;
                                <a asp-action="DeleteGateEntry" asp-controller="GateEntry" asp-route-id="@Data.ID">
                                    <i class="far fa-trash-alt"></i>
                                </a>&nbsp;&nbsp;
                                <a asp-action="ActionGateEntry" asp-controller="GateEntry" asp-route-id="@Data.ID">
                                    <i class="fas fa-eye"></i>
                                </a>*@
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No Stock Entry Created Yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to Add Stock Entry
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="GoDown" asp-action="GoDownStock">
                Add
            </a>
        </div>
    </div>
}
