@model WebERP.Models.Payments
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="modal-content show-modal-content form_content">
    <div class="card">
        @if (Model.Type == "Add")
        {
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
            <h3 style="color:white">Add Payments</h3>
        </nav>
        }
        @if (Model.Type == "Edit")
        {
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
            <h3 style="color:white">Edit Payments</h3>
        </nav>
        }
        @if (Model.Type == "Action")
        {
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
            <h3 style="color:white">View Payments</h3>
        </nav>
        }
        
        <div class="card-body">

            <form id="menu-form" method="post">
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Payments Details</b></h4>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Date</label>
                            <div class="input-group">
                                @if (Model.Type == "Add")
                                {
                                <input asp-for="DOC_DATE" type="date" class="form-control" id="DOC_DATE" name="DOC_DATE" />
                                }
                                @if (Model.Type == "Edit" || Model.Type == "Action")
                                {
                                    <input asp-for="DOC_DATE" type="date" class="form-control" id="DOC_DATE" name="DOC_DATE" readOnly = "readonly" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Financial Year</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.DOC_FN_YEAR, new { @ID = "DOC_FN_YEAR", @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Payment Mode</label>
                            <div class="custom-radio">
                                <select class="form-control" asp-for="PAYMENT_MODE" id="PAYMENT_MODE">                                   
                                    <option value="4">Bank</option>
                                    <option value="5">Cash</option>
                                </select>
                            </div>
                            <span asp-validation-for="PAYMENT_MODE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Payment Tag</label>
                            <div class="custom-radio">
                                <select class="form-control" asp-for="PAYMENT_TAG">
                                    <option value="1">Payment</option>
                                    <option value="2">Receipt</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Cash/Bank Account Name</label>
                            <div class="custom-radio">
                                
                                    <select asp-for="CB_ACC_CODE" id="ddlCBACC" class="form-control Select2DropDown" asp-items="@(new SelectList(Model.CBACCDropDown,"Value", "Text"))"></select>
                                
                            </div>
                            <span asp-validation-for="CB_ACC_CODE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Account Name</label>
                            <div class="custom-radio">
                                <select asp-for="ACC_CODE" id="ddlACC" class="form-control Select2DropDown" asp-items="@(new SelectList(Model.ACCDropDown,"Value", "Text"))"></select>
                            </div>
                            <span asp-validation-for="ACC_CODE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Payment Document No</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.PAY_DOC_NO, new { @ID = "PAY_DOC_NO", @class = "form-control", @type = "number" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Payment Document Date</label>
                            <div class="input-group">
                                <input asp-for="PAY_DOC_DATE" type="date" class="form-control" id="PAY_DOC_DATE" name="PAY_DOC_DATE" />                         
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Amount</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.AMOUNT, new { @ID = "AMOUNT", @class = "form-control", @type = "decimal" })
                                
                            </div>
                            <span asp-validation-for="AMOUNT" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Remarks</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.REMARKS, new { @ID = "REMARKS", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    @if ((Model.Type == "Edit") || (Model.Type == "Action"))
                    {
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="branch_id">Insert Date</label>
                                <div class="input-group">
                                    <input type="datetime-local" readonly="readonly" class="form-control" asp-for="INS_DATE" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="branch_id">Insert By</label>
                                <div class="input-group">
                                    <input type="text" readonly="readonly" class="form-control" asp-for="INS_UID" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="branch_id">Update Date</label>
                                <div class="input-group">
                                    <input type="datetime-local" readonly="readonly" class="form-control" asp-for="UDT_DATE" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="branch_id">Update By</label>
                                <div class="input-group">
                                    <input type="text" readonly="readonly" class="form-control" asp-for="UDT_UID" />
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    &nbsp;&nbsp;<a class="btn btn-app mr-2 mt-1 mb-1 btn-secondary pull-right" asp-action="Payments_Details">Close</a>
                    @if (Model.Type == "Add")
                    {
                        <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" type="submit" asp-controller="Payments" asp-action="Payments_Master">
                            <i class="fa fa-save"></i> Save
                        </button>
                    }
                    @if (Model.Type == "Edit")
                    {
                        <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" type="submit" asp-controller="Payments" asp-action="Edit_Payments">
                            <i class="fa fa-save"></i> Save
                        </button>
                    }
                </div>
            </form>

        </div>

    </div>
</div>
<script>
    $(function () {
        $("#DOC_DATE").change(function () {
            var date = $(this).val();
            var financial_year = "";
            var today = new Date(date);
            if ((today.getMonth()) == 1 || (today.getMonth()) == 2 || (today.getMonth()) == 3) {
                financial_year = (today.getFullYear() - 1) + "" + today.getFullYear()
            } else {
                financial_year = today.getFullYear() + "" + (today.getFullYear() + 1)
            }
            $("#DOC_FN_YEAR").val(financial_year);            
        });
    })  
    $(function () {
        $("#PAYMENT_MODE").change(function () {
            $.getJSON("/payments/CBAcclists", { type: $("#PAYMENT_MODE").val() }, function (d) {
                var row = "";
                $("#ddlCBACC").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                $("#ddlCBACC").html(row);

            })

        })
    })
</script>
