@model WebERP.Models.SalesViewModel
@{
    ViewData["Title"] = "EditSalesOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #00ff7ee6 0%, #74009a 100%);">
    <h3 style="color:white">Update Sales Invoice</h3>
</nav>

<div class="card">
    <div class="card-body">
        <form method="post" id="salesForm">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Sales" asp-action="SalesGrid">Sales</a></li>
                    <li class="breadcrumb-item">Update Sales</li>
                    <li class="breadcrumb-item active" aria-current="page">Fill Data</li>
                </ol>
            </nav>
            <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <b>Sales Header Details</b>
            </h4>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Company</label>
                        <select asp-for="SalesHeader.COMP_CODE" class="form-control"
                                asp-items="@(new SelectList(Model.SalesHeader.companyDropDown,"Value", "Text"))" readonly></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <label>Document Date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                            </div>
                        </div>
                        <input class="form-control fc-datepicker" id="salesDocDate" type="date" asp-for="SalesHeader.DOC_DATE">
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Document Financial Year</label>
                        <input type="text" class="form-control" id="salesFinancialYear" asp-for="SalesHeader.DOC_FINYEAR" readonly>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Document No</label>
                        <input type="text" class="form-control" id="salesDocNo" asp-for="SalesHeader.DOC_NO" readonly>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <label>Gate Out Date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                            </div>
                        </div>
                        <input class="form-control fc-datepicker" id="salesGateOutDate" type="date" asp-for="SalesHeader.GATEOUT_DATE">
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Gate Out UID</label>
                        <input type="text" class="form-control" id="salesGateUid" asp-for="SalesHeader.GATEOUT_UID" readonly>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label>Party Name</label>
                        <select asp-for="SalesHeader.ACC_CODE" class="form-control Select2DropDown"
                                asp-items="@(new SelectList(Model.SalesHeader.accDropDown, "Value", "Text"))"></select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label>Party Agent</label>
                        <select asp-for="SalesHeader.AGENTACC_CODE" class="form-control Select2DropDown"
                                asp-items="@(new SelectList(Model.SalesHeader.agentaccDropDown, "Value", "Text"))"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Remarks</label>
                        <input type="text" class="form-control" asp-for="SalesHeader.REMARKS" placeholder="Place sales order remarks here">
                    </div>
                </div>
            </div>

            <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Sales Order Details</b></h4>

            <div class="row" style="font-size:small;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive-sm">
                        <table class="table table-sm d-sm-table-cell table-bordered" id="salesDtlTable" width="100%" cellspacing="0">
                            <thead class="thead-light">
                                <tr style="text-align:center;">
                                    <th style="width: 250px;">GDW</th>
                                    <th style="width: 280px;">Item</th>
                                    <th style="width: 200px;">Artical</th>
                                    <th style="width: 90px;">Size</th>
                                    <th style="width: 70px;">HSN</th>
                                    <th style="width: 190px;">Sale Qty</th>
                                    <th style="width: 70px;">Sale Qty UOM</th>
                                    <th style="width: 190px;">Rate Per</th>
                                    <th style="width: 135px;">Disc Per-Tag</th>
                                    <th style="width: 160px;">Disc Per%</th>
                                    <th style="width: 130px;">Disc Rate</th>
                                    <th style="width: 200px;">Net Rate</th>
                                    <th style="width: 200px;">Item Amt.</th>
                                    <th style="text-align:center;width: 30px;">
                                        <a href="#" class="btn btn-info" id="addSalesRow">
                                            <i class="fa fa-plus-circle"></i>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int j = 0; j < Model.SaleDetails.Count(); j++)
                                {
                                <tr>                                   
                                    <td>
                                        @Html.DropDownListFor(m=>m.SaleDetails[j].GODOWN_CODE,
                                              new SelectList(Model.SaleDetails[j].GODOWN_LIST, "Value", "Text"),
                                              new { @class= "form-control" })
                                    </td>
                                    <td>
                                        @if (string.IsNullOrEmpty(Model.SaleDetails[j].ITEM_NAME))
                                        {
                                            @Html.DropDownListFor(m => m.SaleDetails[j].ITEM_CODE,
                                                           new SelectList(string.Empty, "Value", "Text"),
                                                           new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            var dd = new List<SelectListItem>();
                                            dd.Add(new SelectListItem() { Text = Model.SaleDetails[j].ITEM_NAME, Value = Convert.ToString(Model.SaleDetails[j].ITEM_CODE) });

                                            @Html.DropDownListFor(m => m.SaleDetails[j].ITEM_CODE,
                                                       new SelectList(dd, "Value", "Text"),
                                                       new { @class = "form-control" })
                                        }
                                    </td>
                                    <td>
                                        @if (string.IsNullOrEmpty(Model.SaleDetails[j].ARTICAL_NAME))
                                        {
                                            @Html.DropDownListFor(m=>m.SaleDetails[j].ARTICAL_CODE,
                                             new SelectList(string.Empty, "Value", "Text"),
                                             new { @class= "form-control" })
                                        }
                                        else
                                        {
                                            var dda = new List<SelectListItem>();
                                            dda.Add(new SelectListItem() { Text = Model.SaleDetails[j].ARTICAL_NAME, Value = Convert.ToString(Model.SaleDetails[j].ARTICAL_CODE) });

                                            @Html.DropDownListFor(m => m.SaleDetails[j].ARTICAL_CODE,
                                                       new SelectList(dda, "Value", "Text"),
                                                       new { @class = "form-control" })
                                        }

                                    </td>
                                    <td>
                                        @Html.HiddenFor(a => a.SaleDetails[j].SIZE_CODE, new { @class = "form-control" })
                                        @Html.TextBoxFor(m => m.SaleDetails[j].SIZE_NAME, new { @class = "form-control", @readOnly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.SaleDetails[j].HSN_CODE, new { @class = "form-control", @type = "text" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.SaleDetails[j].SALE_QTY, new { @class = "form-control salesRowQty", @type = "number", @step = ".001" })
                                    </td>
                                    <td>
                                        @Html.HiddenFor(a => a.SaleDetails[j].SALEQTYCODE, new { @class = "form-control" })
                                        @Html.TextBoxFor(m => m.SaleDetails[j].SALEQTY_UOM, new { @class = "form-control", @readOnly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.SaleDetails[j].RATE, new { @class = "form-control", @type = "number", @step = ".01" })
                                    </td>
                                    <td>
                                        @if (Model.SaleDetails[j].DISCPER_TAG == "P")
                                        {
                                            @Html.DropDownListFor(m=>m.SaleDetails[j].DISCPER_TAG,
                                                                                        new SelectList(new List<Object>{
                                                                                                                         new { value = "P" , text = "Per"  },
                                                                                                                         new { value = "F" , text = "Fix" } }, "value", "text", 0),new { @class="form-control"})
                                        }
                                        @if (Model.SaleDetails[j].DISCPER_TAG == "F")
                                        {
                                            @Html.DropDownListFor(m=>m.SaleDetails[j].DISCPER_TAG,
                                                                                        new SelectList(new List<Object>{
                                                                                                                         new { value = "P" , text = "Per"  },
                                                                                                                         new { value = "F" , text = "Fix" } }, "value", "text", 1),new { @class="form-control"})
                                        }
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.SaleDetails[j].DISC_PER, new { @class = "form-control", @type = "number", @step = ".01" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.SaleDetails[j].DISC_RATE, new { @class = "form-control", @readOnly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.SaleDetails[j].NET_RATE, new { @class = "form-control", @readOnly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.SaleDetails[j].ITEM_AMOUNT, new { @class = "form-control", @readOnly = "readonly" })
                                    </td>
                                    <td style="text-align:center;">
                                        <a href="#" class="btn btn-danger" id="deleteSalesRow">
                                            <i class="fa fa-minus-circle"></i>
                                        </a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4"></td>
                                    <td>
                                        <label style="font-weight: bold;color: darkblue;">Total Qty:</label>
                                    </td>
                                    <td>
                                        <input class="form-control" id="totalSaleQuant" value="@ViewBag.grandQTotal" readonly />
                                    </td>
                                    <td colspan="5"></td>
                                    <td>
                                        <label style="font-weight: bold;color: darkblue;">Gross Amt:</label>
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="SalesHeader.GROSS_AMT" id="TotalGrossItemAmt" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="11"></td>
                                    <td>
                                        <label style="font-weight: bold;color: darkblue;">Round Off Amt(+/-):</label>
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="SalesHeader.RF_AMT" id="RoundoffAmount" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8"></td>
                                    <td>
                                        <label style="font-weight: bold;color: darkblue;">Tax Name</label>
                                    </td>
                                    <td>
                                        <select asp-for="SalesHeader.TAX_CODE" class="form-control" id="taxlist"
                                                asp-items="@(new SelectList(Model.SalesHeader.taxDropDown, "Value", "Text"))"></select>
                                    </td>
                                    <td>
                                        <label style="font-weight: bold;color: darkblue;">IGST % | Amount</label>
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="SalesHeader.IGST_PER" id="igstper" readonly />
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="SalesHeader.IGST_AMOUNT" id="igstamt" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10"></td>
                                    <td>
                                        <label style="font-weight: bold;color: darkblue;">CGST % | Amount</label>
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="SalesHeader.CGST_PER" id="cgstper" readonly />
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="SalesHeader.CGST_AMOUNT" id="cgstamt" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10"></td>
                                    <td>
                                        <label style="font-weight: bold;color: darkblue;">SGST % | Amount</label>
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="SalesHeader.SGST_PER" id="sgstper" readonly />
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="SalesHeader.SGST_AMOUNT" id="sgstamt" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="11"></td>
                                    <td>
                                        <label style="font-weight: bold;color: darkblue;">Total Tax</label>
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="SalesHeader.TAX_AMT" id="TotalTaxAmt" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9"></td>
                                    <td colspan="2">
                                        <label style="font-weight: bold;color: darkblue;">1.Additional Amount\Name</label>
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="SalesHeader.OTH_AMTNAME1" id="otherAmtname1" placeholder="name1" />
                                    </td>
                                    <td>
                                        <input class="form-control otheramt" asp-for="SalesHeader.OTH_AMT1" id="otherAmt1" type="number" step="0.01" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9"></td>
                                    <td colspan="2">
                                        <label style="font-weight: bold;color: darkblue;">2.Additional Amount\Name</label>
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="SalesHeader.OTH_AMTNAME2" id="otherAmtname2" placeholder="name2" />
                                    </td>
                                    <td>
                                        <input class="form-control otheramt" asp-for="SalesHeader.OTH_AMT2" id="otherAmt2" type="number" step="0.01" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9"></td>
                                    <td colspan="3">
                                        <label style="font-weight: bold;color: darkblue;">Final Net Amount(Gross + Tax + Addt1 + Addt2 + Rf)</label>
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="SalesHeader.NET_AMT" id="TotalNetAmt" readonly />
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <hr class="alert-light" />
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
            </div>
        </form>
        <hr />
        <div>
            <a asp-action="SalesGrid" asp-controller="Sales"><i class="fas fa-arrow-left"></i>Back To Grid</a>
        </div>
    </div>
</div>




