@model WebERP.Models.CuttingReceiptViewModel
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="modal-content show-modal-content form_content">
    <div class="card">
        @if (Model.Type == "Add")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">Add Cutting Receipt</h3>
            </nav>
        }
        @if (Model.Type == "Edit")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">Edit Cutting Receipt</h3>
            </nav>
        }
        @if (Model.Type == "View")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">View Cutting Receipt</h3>
            </nav>
        }
        <div class="card-body">

            <form id="menu-form" method="post" >
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Basic Details</b></h4>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Date</label>
                            <div class="input-group">
                                @if (Model.Type == "Add")
                                {
                                    @Html.TextBoxFor(a => a.DOc_Dates, "{0:yyyy-MM-dd}", new { @ID = "DOc_Dates", @class = "form-control dat fc-datepicker", @type = "date" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(a => a.cutting_Receipt.DOC_DATE, "{0:yyyy-MM-dd}", new { @ID = "DOc_Dates", @class = "form-control", @readonly = "readonly" })
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Financial Year</label>
                            <div class="input-group">
                                @Html.HiddenFor(a => a.cutting_Receipt.ID, new { @ID = "Doc_FN_Year", @class = "form-control", @readOnly = "readonly" })
                                @if (Model.Type == "Add")
                                {
                                    @Html.TextBoxFor(a => a.Fin_Years, new { @ID = "Fin_Years", @class = "form-control", @readOnly = "readonly" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(a => a.cutting_Receipt.DOC_FINYEAR, new { @ID = "DOC_FINYEAR", @class = "form-control", @readOnly = "readonly" })
                                }
                            </div>
                        </div>
                    </div>
                    @if (Model.Type == "Add")
                    {
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="branch_id">Cutting Order</label>
                                <label for="branch_id" style="color:red">**Document No/Employee/Item/Artical/Size/Process</label>
                                <div class="custom-radio">
                                    <select id="ddlCUT" name="ddlCUT" class="form-control Select2DropDown" asp-items="@(new SelectList(Model.CUTDropDown, "Value", "Text"))"></select>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Employee Name</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.cutting_Receipt.EMP_NAME, new { @ID = "EmpName", @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Item Name</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.cutting_Receipt.ITEM_NAME, new { @ID = "ItemName", @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Artical Name</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.cutting_Receipt.ART_NAME, new { @ID = "ArtName", @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Size Name</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.cutting_Receipt.SIZE_NAME, new { @ID = "SizeName", @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    @*<div class="col-lg-4 col-md-4 col-sm-12">
            <div class="form-group">
                <label for="branch_id">Process Name</label>
                <div class="input-group">
                    @Html.TextBoxFor(a => a.Proc_Names, new { @ID = "ProcName", @class = "form-control", @readOnly = "readonly" ,@value="Cutting"})
                    @Html.HiddenFor(a => a.cutting_Receipt.CUTTING_ORDER_FK, new { @ID = "CUTPK", @class = "form-control" })
                </div>
            </div>
        </div>*@
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Receipt Qty</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.cutting_Receipt.RECEIPT_QTY, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">GoDown</label>
                            <div class="input-group">
                                <select asp-for="cutting_Receipt.GDW_CODE" class="form-control Select2DropDown" asp-items="@(new SelectList(Model.GDWDropDown, "Value", "Text"))"></select>                               
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    &nbsp;&nbsp;<a class="btn btn-app mr-2 mt-1 mb-1 btn-secondary pull-right" asp-action="CuttingReceiptDetail">Close</a>
                    @if (Model.Type == "Add")
                    {
                        <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" type="submit" asp-controller="CuttingReceipt" asp-action="Cut_Recpt_Master">
                            <i class="fa fa-save"></i> Save
                        </button>
                    }
                    @if (Model.Type == "Edit")
                    {
                        <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" type="submit" asp-controller="CuttingReceipt" asp-action="SAVECR">
                            <i class="fa fa-save"></i> Save
                        </button>
                    }
                </div>
            </form>

        </div>

    </div>
</div>
<script>
    $(function () {
        $("#DOc_Dates").change(function () {
            debugger;
            var date = $(this).val();
            var financial_year = "";
            var today = new Date(date);
            if ((today.getMonth()) == 1 || (today.getMonth()) == 2 || (today.getMonth()) == 3) {
                financial_year = (today.getFullYear() - 1) + "" + today.getFullYear()
            } else {
                financial_year = today.getFullYear() + "" + (today.getFullYear() + 1)
            }
            $("#Fin_Years").val(financial_year);
            $.ajax({
                // edit to add steve's suggestion.
                //url: "/ControllerName/ActionName",
                url: '<%= Url.Action("DocNo", "RawMaterial") %>',
                success: function (data) {
                    // your data could be a View or Json or what ever you returned in your action method
                    // parse your data here
                    debugger;
                    $("#DocNo").val(data);
                }
            });
        });
    })
    $(function () {
        $("#ddlCUT").change(function () {
            debugger;
            var Array = $("#ddlCUT").val().split("/");
            $('#EmpName').val(Array[0]);
            $('#ItemName').val(Array[1]);
            $('#ArtName').val(Array[2]);
            $('#SizeName').val(Array[3]);
            $('#ProcName').val(Array[4]);
            $('#CUTPK').val(Array[5]);
        })
    })
</script>
