@model WebERP.Models.JobWorkViewModel
@{
    ViewData["Title"] = "ShowJobWork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-3 static-top shadow"
     style="background: linear-gradient(135deg, rgb(255 141 0 / 90%) 0%, #74009a 100%);">
    <h3 style="color:white">Job Work Issue</h3>
</nav>

<div class="card">
    <div class="card-body">
        <form >
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="JobWork" asp-action="JobWorkGrid">JobWork</a></li>
                    <li class="breadcrumb-item">Job Work Details</li>                    
                </ol>
            </nav>
            <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <b>Job-Work Header</b>
            </h4>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Company</label>
                        <input type="text" class="form-control" asp-for="JobWorkIssHeader.COMP_NAME" readonly>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <label>Document Date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                            </div>
                        </div>
                        <input class="form-control fc-datepicker"type="date" asp-for="JobWorkIssHeader.DOC_DATE" readonly>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Document Financial Year</label>
                        <input type="text" class="form-control"  asp-for="JobWorkIssHeader.DOC_FINYEAR" readonly>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Document No</label>
                        <input type="text" class="form-control" asp-for="JobWorkIssHeader.DOC_NO" readonly>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label>Party Name</label>
                        <input type="text" class="form-control" asp-for="JobWorkIssHeader.ACC_NAME" readonly>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Remarks</label>
                        <input type="text" class="form-control" asp-for="JobWorkIssHeader.REMARKS" readonly>
                    </div>
                </div>
            </div>

            <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Job-Work Details</b></h4>            
            <div class="row" style="font-size:small;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive-sm">
                        <table class="table table-sm d-sm-table-cell table-bordered" id="jwDtlTable" width="100%" cellspacing="0">
                            <thead class="thead-light">
                                <tr style="text-align:center;">
                                    @*<th style="width: 30px;">Check</th>*@
                                    <th style="width: 150px;">GDW</th>
                                    <th style="width: 100px;">Item</th>
                                    <th style="width: 100px;">Artical</th>
                                    <th style="width: 100px;">Size</th>
                                    <th style="width: 128px;">HSN</th>
                                    <th style="width: 150px;">Process</th>
                                    <th style="width: 100px;">Stock Qty</th>
                                    <th style="width: 100px;">Proc Qty</th>                                 
                                    <th style="width: 150px;">Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int j = 0; j < Model.JobWorkIssueDetails.Count(); j++)
                                {
                                    <tr>
                                        @*<td style="text-align:center;">
                                            <input type="checkbox" readonly/>
                                        </td>*@
                                        <td>
                                            @Html.TextBoxFor(m => m.JobWorkIssueDetails[j].GODOWN_NAME, new { @class = "form-control", @type = "text" , @readOnly = "readonly" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.JobWorkIssueDetails[j].ITEM_NAME, new { @class = "form-control", @type = "text", @readOnly = "readonly" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.JobWorkIssueDetails[j].ARTICAL_NAME, new { @class = "form-control", @readOnly = "readonly" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.JobWorkIssueDetails[j].SIZE_NAME, new { @class = "form-control", @readOnly = "readonly" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.JobWorkIssueDetails[j].HSN_CODE, new { @class = "form-control", @type = "text", @readOnly = "readonly" })
                                        </td>

                                        <td>
                                            @Html.TextBoxFor(m => m.JobWorkIssueDetails[j].PROC_NAME, new { @class = "form-control", @type = "text", @readOnly = "readonly" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.JobWorkIssueDetails[j].QTY_UOM, new { @class = "form-control", @type = "number", @readOnly = "readonly" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.JobWorkIssueDetails[j].QTY, new { @class = "form-control", @type = "number", @readOnly = "readonly" })
                                        </td>                                       
                                        <td>
                                            @Html.TextAreaFor(m => m.JobWorkIssueDetails[j].REMARKS, new { @class = "form-control", @readOnly = "readonly" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>           
        </form>
        <hr />
        <div>
            <a asp-action="JobWorkGrid" asp-controller="JobWork"><i class="fas fa-arrow-left"></i>Back To Grid</a>
        </div>
    </div>
</div>
