@model IEnumerable<V_CuttingDetail>

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);"> <h3 style="color:white">Cutting Details</h3></nav>


@if (Model.Any())
{
    <a class="btn btn-success" style="width:auto" asp-controller="Cutting" asp-action="ADDCutting">
        Add Cutting
    </a>
    @*<a class="btn btn-success" style="width:auto" asp-controller="Employee" asp-action="Excel">
        Export
    </a>*@
    <hr />
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Doc Date</th>
                            <th>Doc No</th>
                            <th>Emp Name</th>
                            <th>Cont Emp Name</th>
                            <th>Item Name</th>
                            <th>Artical Name</th>
                            <th>Process Name</th>
                            <th>Size Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Data in Model)
                        {
                        <tr>
                            <td>@Data.DOC_DATE</td>
                            <td>@Data.DOC_NO</td>
                            <td>@Data.EMP_NAME</td>
                            <td>@Data.CONT_EMP_NAME</td>
                            <td>@Data.Item_NAME</td>
                            <td>@Data.ARTICAL_NAME</td>
                            <td>@Data.PROC_NAME</td>
                            <td>@Data.SIZE_NAME</td>
                            <td>
                                @*<a asp-action="EditEmployee" asp-controller="Employee" asp-route-id="@Data.ID">
                                    <i class="fas fa-user-edit"></i>
                                </a>&nbsp;&nbsp;
                                <a asp-action="DeleteEmployee" asp-controller="Employee" asp-route-id="@Data.ID">
                                    <i class="far fa-trash-alt"></i>
                                </a>&nbsp;&nbsp;
                                <a asp-action="ActionEmployee" asp-controller="Employee" asp-route-id="@Data.ID">
                                    <i class="fas fa-eye"></i>
                                </a>*@
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No Cutting Created Yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a Cutting
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Cutting" asp-action="ADDCutting">
                Add Cutting
            </a>
        </div>
    </div>
}
