@model IEnumerable<Account_Master>

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);"> <h3 style="color:white">Account Details</h3></nav>


@if (Model.Any())
{
    <a class="btn btn-success" style="width:auto" asp-controller="Account" asp-action="ADDAccount">
        Add Account
    </a>
    <a class="btn btn-success" style="width:auto" asp-controller="Account" asp-action="Excel">
        Export
    </a>
    <hr />
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>GST NO</th>
                            <th>Opening Balance</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Data in Model)
                        {
                            <tr>
                                <td>@Data.NAME</td>
                                <td>@Data.ADD1  @Data.ADD2  @Data.CITY_CODE</td>
                                <td>@Data.GST_NO</td>
                                <td>@Data.OP_BAL</td>
                                <td>
                                    <a asp-action="EditAccount" asp-controller="Account" asp-route-id="@Data.ID">
                                        <i class="fas fa-user-edit"></i>
                                    </a>&nbsp;&nbsp;
                                    <a asp-action="DeleteAccount" asp-controller="Account" asp-route-id="@Data.ID">
                                        <i class="far fa-trash-alt"></i>
                                    </a>&nbsp;&nbsp;
                                    <a asp-action="ActionAccount" asp-controller="Account" asp-route-id="@Data.ID">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No Account Created Yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a Account
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Account" asp-action="ADDAccount">
                Add Account
            </a>
        </div>
    </div>
}
