@model WebERP.Models.EditGateEntryModel
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="modal-content show-modal-content form_content">
    <div class="card">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
            <h3 style="color:white">Edit Gate Entry Inward</h3>
        </nav>
        <div class="card-body">

            <form id="menu-form" method="post" asp-controller="GateEntry" asp-action="EditGateEntry">
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Header Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Account Name</label>
                            <div class="custom-radio">
                                @Html.HiddenFor(a => a.Gate_HDRs.Type, new { @class = "form-control", @readOnly = "readonly" })
                                @Html.HiddenFor(a => a.Gate_HDRs.ID, new { @class = "form-control", @readOnly = "readonly" })
                                @Html.HiddenFor(a => a.Gate_HDRs.INS_DATE, new { @class = "form-control", @readOnly = "readonly" })
                                @Html.HiddenFor(a => a.Gate_HDRs.INS_UID, new { @class = "form-control", @readOnly = "readonly" })
                                @Html.TextBoxFor(a => a.Gate_HDRs.Acc_Name, new { @class = "form-control", @readOnly = "readonly" })
                                @Html.HiddenFor(a => a.Gate_HDRs.Acc_Code, new { @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Date</label>
                            <div class="input-group">
                                <input asp-for="Gate_HDRs.Doc_Date" type="date" class="form-control" readOnly="readonly" />
                                @Html.HiddenFor(a => a.Gate_HDRs.Doc_Date, new { @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Financial Year</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.Gate_HDRs.Doc_FN_Year, new { @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Number</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.Gate_HDRs.Doc_No, new { @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Remarks</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.Gate_HDRs.Remarks, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Purchase Order Details</b></h4>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="table-responsive">
                            @if (Model.Gate_HDRs.Type == "Purchase Order")
                            {
                                <table class="table table-bordered" Name="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Order No</th>
                                            <th>CHL/Bill No</th>
                                            <th>CHL/Bill Date</th>
                                            <th>Item Name</th>
                                            <th>Qty UOM</th>
                                            <th>Gate Entry Qty</th>
                                            <th>Godown</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.EditGateEntryDetails.Count > 0)
                                        {
                                            int j = 0;
                                            foreach (var i in Model.EditGateEntryDetails)
                                            {
                                                <tr style="border:1px solid black">
                                                    <td>
                                                        @Html.HiddenFor(a => a.Gate_HDRs.INS_DATE, new { @class = "form-control", @readOnly = "readonly" })
                                                        @Html.HiddenFor(a => a.Gate_HDRs.INS_UID, new { @class = "form-control", @readOnly = "readonly" })
                                                        @Html.HiddenFor(a => a.EditGateEntryDetails[j].ID, new { @class = "form-control" })
                                                        @Html.TextBoxFor(a => a.EditGateEntryDetails[j].Order_No, new { @class = "form-control", @readOnly = "readonly" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(a => a.EditGateEntryDetails[j].CHL_NO, new { @class = "form-control", @type = "number" })
                                                        <span asp-validation-for="@Model.EditGateEntryDetails[j].CHL_NO" class="text-danger"></span>
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(a => a.EditGateEntryDetails[j].CHL_DATE, "{0:yyyy-MM-dd}", new { @class = "form-control fc-datepicker", @type = "date" })

                                                        @*<td>@Html.TextBoxFor(a => a.EditGateEntryDetails[j].Bill_NO, new { @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(a => a.EditGateEntryDetails[j].Bill_Date, new { @class = "form-control fc-datepicker", @type = "date" })</td>*@
                                                    <td>
                                                        @Html.HiddenFor(a => a.EditGateEntryDetails[j].Item_Name, new { @class = "form-control" })
                                                        @Html.TextBoxFor(a => a.EditGateEntryDetails[j].ITEM_NAMEs, new { @class = "form-control", @readOnly = "readonly" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(a => a.EditGateEntryDetails[j].UOM_NAME, new { @class = "form-control", @readOnly = "readonly" })
                                                        @Html.HiddenFor(a => a.EditGateEntryDetails[j].Stk_UOM, new { @class = "form-control" })
                                                    </td>

                                                    <td>
                                                        @Html.TextBoxFor(a => a.EditGateEntryDetails[j].Stk_Qty, new { @class = "form-control", @type = "decimal" })
                                                        <span asp-validation-for="@Model.EditGateEntryDetails[j].Stk_Qty" class="text-danger"></span>
                                                    </td>
                                                    <td>
                                                        <select asp-for="EditGateEntryDetails[j].GDW_NO" class="form-control Select2DropDown" asp-items="@(new SelectList(Model.GoDownDropDown, "Value", "Text"))"></select>
                                                        @*@Html.TextBoxFor(a => a.EditGateEntryDetails[j].GDW_NAME, new { @class = "form-control" })*@
                                                        @Html.HiddenFor(a => a.EditGateEntryDetails[j].GDW_NO, new { @class = "form-control" })
                                                    </td>
                                                    <td>
                                                        <a asp-action="DeleteGateEntry" id="delete[j]" onload="EnableDisable(@Model.EditGateEntryDetails[j].GDW_NO,[j])" asp-controller="GateEntry" asp-route-id="@Model.EditGateEntryDetails[j].ID">
                                                            <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                j++;
                                            }
                                        }
                                        @if (ViewBag.Message != null)
                                        {
                                            <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
                                            </script>
                                        }
                                    </tbody>

                                </table>

                            }
                            else
                            {
                                <table class="table table-bordered" Name="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Order No</th>
                                            <th>CHL/Bill No</th>
                                            <th>CHL/Bill Date</th>
                                            <th>Item</th>
                                            <th>Artical</th>
                                            <th>Size</th>
                                            <th>Process</th>
                                            <th>Gate Entry Qty</th>
                                            <th>Godown</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.EditGateEntryDetails.Count > 0)
                                        {
                                            int j = 0;
                                            foreach (var i in Model.EditGateEntryDetails)
                                            {
                                                <tr style="border:1px solid black">
                                                    <td>
                                                        @Html.HiddenFor(a => a.Gate_HDRs.INS_DATE, new { @class = "form-control", @readOnly = "readonly" })
                                                        @Html.HiddenFor(a => a.Gate_HDRs.INS_UID, new { @class = "form-control", @readOnly = "readonly" })
                                                        @Html.HiddenFor(a => a.EditGateEntryDetails[j].ID, new { @class = "form-control" })
                                                        @Html.TextBoxFor(a => a.EditGateEntryDetails[j].Order_No, new { @class = "form-control", @readOnly = "readonly" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(a => a.EditGateEntryDetails[j].CHL_NO, new { @class = "form-control" })
                                                        <span asp-validation-for="@Model.EditGateEntryDetails[j].CHL_NO" class="text-danger"></span>
                                                    </td>
                                                    <td>@Html.TextBoxFor(a => a.EditGateEntryDetails[j].CHL_DATE, "{0:yyyy-MM-dd}", new { @class = "form-control fc-datepicker", @type = "date" })</td>
                                                    @*<td>@Html.TextBoxFor(a => a.EditGateEntryDetails[j].Bill_NO, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(a => a.EditGateEntryDetails[j].Bill_Date, new { @class = "form-control fc-datepicker", @type = "date" })</td>*@
                                                    <td>
                                                        @Html.HiddenFor(a => a.EditGateEntryDetails[j].Item_Name, new { @class = "form-control" })
                                                        @Html.TextBoxFor(a => a.EditGateEntryDetails[j].ITEM_NAMEs, new { @class = "form-control", @readOnly = "readonly" })
                                                    </td>
                                                    <td>
                                                        @Html.HiddenFor(a => a.EditGateEntryDetails[j].Art_Name, new { @class = "form-control" })
                                                        @Html.TextBoxFor(a => a.EditGateEntryDetails[j].ART_NAMEs, new { @class = "form-control", @readOnly = "readonly" })
                                                    </td>
                                                    <td>
                                                        @Html.HiddenFor(a => a.EditGateEntryDetails[j].Size_Name, new { @class = "form-control" })
                                                        @Html.TextBoxFor(a => a.EditGateEntryDetails[j].SIZE_NAMEs, new { @class = "form-control", @readOnly = "readonly" })
                                                    </td>
                                                    <td>
                                                        @Html.HiddenFor(a => a.EditGateEntryDetails[j].Proc_Name, new { @class = "form-control" })
                                                        @Html.TextBoxFor(a => a.EditGateEntryDetails[j].PROC_NAMEs, new { @class = "form-control", @readOnly = "readonly" })
                                                    </td>
                                                    @*<td>
                        @Html.TextBoxFor(a => a.EditGateEntryDetails[j].UOM_NAME, new { @class = "form-control", @readOnly = "readonly" })
                        @Html.HiddenFor(a => a.EditGateEntryDetails[j].Stk_UOM, new { @class = "form-control" })
                    </td>*@

                                                    <td>
                                                        @Html.TextBoxFor(a => a.EditGateEntryDetails[j].Stk_Qty, new { @class = "form-control", @type = "decimal" })
                                                        <span asp-validation-for="@Model.EditGateEntryDetails[j].Stk_Qty" class="text-danger"></span>
                                                    </td>
                                                    <td>
                                                        <select asp-for="EditGateEntryDetails[j].GDW_NO" class="form-control Select2DropDown" asp-items="@(new SelectList(Model.GoDownDropDown, "Value", "Text"))"></select>
                                                        @*@Html.TextBoxFor(a => a.EditGateEntryDetails[j].GDW_NAME, new { @class = "form-control" })*@
                                                        @Html.HiddenFor(a => a.EditGateEntryDetails[j].GDW_NO, new { @class = "form-control" })
                                                    </td>
                                                    <td>
                                                        <a asp-action="DeleteGateEntry" asp-controller="GateEntry" asp-route-id="@Model.EditGateEntryDetails[j].ID">
                                                            <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                j++;
                                            }
                                        }
                                        @if (ViewBag.Message != null)
                                        {
                                            <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
                                            </script>
                                        }
                                    </tbody>
                                </table>
                            }                            
                        </div>

                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    &nbsp;&nbsp;<a class="btn btn-app mr-2 mt-1 mb-1 btn-secondary pull-right" asp-action="Gate_Entry_Details">Close</a>

                    <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" type="submit">
                        <i class="fa fa-save"></i> Save
                    </button>
                </div>
            </form>

        </div>

    </div>
</div>
<script type="text/javascript">
    debugger();
    function EnableDisable(Gdw, id) {
        //Reference the Button.
        var btndelete = document.getElementById("delete[" + id + "]");

        //Verify the TextBox value.
        if (Gdw == 0) {
            //Enable the TextBox when TextBox has value.
            btndelete.disabled = false;
        } else {
            //Disable the TextBox when TextBox is empty.
            btndelete.disabled = true;
        }
    };
</script>