@model WebERP.Models.GateEntryViewModel

<div class="modal-content show-modal-content form_content">
    <div class="card">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
            <h3 style="color:white">Gate Entry</h3>
        </nav>
        <div class="card-body">

            <form id="menu-form" method="post" asp-controller="GateEntry" asp-action="GateEntry">
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Header Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Account Name</label>
                            <div class="custom-radio">
                                @Html.TextBoxFor(a => a.Gate_HDR.Acc_Name, new { @class = "form-control", @readOnly = "readonly" })
                                @Html.HiddenFor(a => a.Gate_HDR.Acc_Code, new { @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Date</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.Gate_HDR.Doc_Date, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Financial Year</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.Gate_HDR.Doc_FN_Year, new { @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Number</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.Gate_HDR.Doc_No, new { @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Remarks</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.Gate_HDR.Remarks, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Process Order Details</b></h4>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" Name="dataTa" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Order No</th>
                                        <th>CHL/Bill No</th>
                                        <th>CHL/Bill Date</th>
                                        @*<th>Bill No</th>
                                        <th>Bill Date</th>*@
                                        <th>Item Name</th>
                                        <th>Qty</th>
                                        <th>Qty UOM</th>
                                        <th>Gate Entry Qty</th>
                                        <th>Bal Qty</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.v_GateEntryDetails.Count > 0)
                                    {
                                        int j = 0;
                                        foreach (var i in Model.v_GateEntryDetails)
                                        {
                                            <tr style="border:1px solid black">
                                                <td>
                                                    @Html.HiddenFor(a => a.v_GateEntryDetails[j].POD_PK, new { @class = "form-control" })
                                                @Html.TextBoxFor(a => a.v_GateEntryDetails[j].ORDER_NO, new { @class = "form-control", @readOnly = "readonly"})
                                            </td>
                                            <td>@Html.TextBoxFor(a => a.v_GateEntryDetails[j].CHL_NO, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(a => a.v_GateEntryDetails[j].CHL_DATE, new { @class = "form-control fc-datepicker", @type = "date" })</td>
                                            @*<td>@Html.TextBoxFor(a => a.v_GateEntryDetails[j].Bill_NO, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(a => a.v_GateEntryDetails[j].Bill_Date, new { @class = "form-control fc-datepicker", @type = "date" })</td>*@
                                            <td>
                                                @Html.HiddenFor(a => a.v_GateEntryDetails[j].ITEM_CODE, new { @class = "form-control" })
                                            @Html.TextBoxFor(a => a.v_GateEntryDetails[j].ITEM_NAME, new { @class = "form-control", @readOnly = "readonly" })
                                        </td>
                                        <td>@Html.TextBoxFor(a => a.v_GateEntryDetails[j].QTY, new { @class = "form-control", @readOnly = "readonly" })</td>
                                        <td>
                                            @Html.TextBoxFor(a => a.v_GateEntryDetails[j].QTY_UOM, new { @class = "form-control", @readOnly = "readonly" })
                                            @Html.HiddenFor(a => a.v_GateEntryDetails[j].QTY_CODE, new { @class = "form-control" })
                                        </td>

                                        <td>
                                            @Html.TextBoxFor(a => a.v_GateEntryDetails[j].BAL_QTY, new { @class = "form-control", @type = "number" })
                                            @Html.HiddenFor(a => a.v_GateEntryDetails[j].Gate_Entry_Qty, new { @class = "form-control" })
                                        </td>
                                        <td>@Html.TextBoxFor(a => a.v_GateEntryDetails[j].BAL_QTY, new { @class = "form-control", @readOnly = "readonly" })</td>
                                        <td>@Html.TextBoxFor(a => a.v_GateEntryDetails[j].REMARKS, new { @class = "form-control" })</td>
                                        @*<td><input type="text" data-mdb-toggle="tooltip" title="[j].ORDER_NO" class="form-control" value="[j].ORDER_NO" name="[j].ORDER_NO"></td>
                                            <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ACC_CODE" class="form-control" value="@Data.ACC_CODE" name="ACC_CODE"></td>
                                            <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="CHL_NO" id="CHL_NO"></td>
                                            <td><input type="date" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="CHL_DATE" id="CHL_DATE"></td>
                                            <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="BILL_NO" id="BILL_NO"></td>
                                            <td><input type="date" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="BILL_DATE" id="BILL_DATE"></td>
                                            <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ITEM_NAME" readonly="readonly" class="form-control numb" value="@Data.ITEM_NAME" name="ITEM_NAME" id="ITEM_NAME"></td>
                                            <td><input type="text" data-mdb-toggle="tooltip" title="@Data.QTY" readonly="readonly" class="form-control numb" value="@Data.QTY" name="QTY" id="QTY"></td>
                                            <td><input type="text" data-mdb-toggle="tooltip" title="@Data.QTY_UOM" readonly="readonly" class="form-control numb" value="@Data.QTY_UOM" name="QTY_UOM" id="QTY_UOM"></td>
                                            <td><input type="text" data-mdb-toggle="tooltip" title="@Data.Gate_Entry_Qty" class="form-control numb" value="@Data.Gate_Entry_Qty" name="Gate_Entry_Qty" id="Gate_Entry_Qty"></td>
                                            <td><input type="text" data-mdb-toggle="tooltip" title="@Data.BAL_QTY" class="form-control numb" value="@Data.BAL_QTY" name="BAL_QTY" id="BAL_QTY"></td>
                                            <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="REMARKS" id="REMARKS"></td>*@
                                    </tr>
                                    j++;
                                }
                            }
                            @*@foreach (var Data in Model)
                                {

                                    <tr>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control" value="@Data.ORDER_NO" name="ORDER_NO"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ACC_CODE" class="form-control" value="@Data.ACC_CODE" name="ACC_CODE"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="CHL_NO" id="CHL_NO"></td>
                                        <td><input type="date" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="CHL_DATE" id="CHL_DATE"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="BILL_NO" id="BILL_NO"></td>
                                        <td><input type="date" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="BILL_DATE" id="BILL_DATE"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ITEM_NAME" readonly="readonly" class="form-control numb" value="@Data.ITEM_NAME" name="ITEM_NAME" id="ITEM_NAME"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.QTY" readonly="readonly" class="form-control numb" value="@Data.QTY" name="QTY" id="QTY"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.QTY_UOM" readonly="readonly" class="form-control numb" value="@Data.QTY_UOM" name="QTY_UOM" id="QTY_UOM"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.Gate_Entry_Qty" class="form-control numb" value="@Data.Gate_Entry_Qty" name="Gate_Entry_Qty" id="Gate_Entry_Qty"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.BAL_QTY" class="form-control numb" value="@Data.BAL_QTY" name="BAL_QTY" id="BAL_QTY"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="REMARKS" id="REMARKS"></td>
                                    </tr>

                                }*@
                                </tbody>
                            </table>
                        </div>


                        @*<table id="dataTable" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <th>Order No</th>
                                    <th>Account Name</th>
                                    <th></th>
                                </tr>
                                @if (Model != null && Model.Count > 0)
                                {
                                    int j = 0;
                                    foreach (var i in Model)
                                    {
                                        <tr style="border:1px solid black">
                                            <td>@Html.TextBoxFor(a => a[j].ORDER_NO)</td>
                                            <td>@Html.TextBoxFor(a => a[j].ACC_CODE)</td>
                                        </tr>
                                        j++;
                                    }
                                }
                            </table>
                            <input type="submit" value="Save Bulk Data" />*@

                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    &nbsp;&nbsp;<a class="btn btn-app mr-2 mt-1 mb-1 btn-secondary pull-right" asp-action="Size_Master">Close</a>

                    <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" type="submit">
                        <i class="fa fa-save"></i> Save
                    </button>
                </div>
            </form>

        </div>

    </div>
</div>

