@model WebERP.Models.GateEntryViewModel

<div class="modal-content show-modal-content form_content">
    <div class="card">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
            <h3 style="color:white">Gate Entry Inward</h3>
        </nav>
        <div class="card-body">

            <form id="menu-form" method="post" asp-controller="GateEntry" asp-action="GateEntry">
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Header Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Account Name</label>
                            <div class="custom-radio">
                                @Html.TextBoxFor(a => a.Gate_HDR.Acc_Name, new { @class = "form-control", @readOnly = "readonly" })
                                @Html.HiddenFor(a => a.Gate_HDR.Acc_Code, new { @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Date</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.Gate_HDR.Doc_Date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Financial Year</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.Gate_HDR.Doc_FN_Year, new { @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Number</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.Gate_HDR.Doc_No, new { @class = "form-control", @readOnly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Remarks</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.Gate_HDR.Remarks, new { @class = "form-control" })
                                @Html.HiddenFor(a => a.Worktype, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Process Order Details</b></h4>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="table-responsive">
                            @if (Model.Worktype == "1")
                            {
                                <table class="table table-bordered" Name="dataTa" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Order No</th>
                                            <th>CHL/Bill No</th>
                                            <th>CHL/Bill Date</th>
                                            @*<th>Bill No</th>
                        <th>Bill Date</th>*@
                                            <th>Item Name</th>
                                            <th>Qty</th>
                                            <th>Qty UOM</th>
                                            <th>Gate Entry Qty</th>
                                            <th>Bal Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.v_GateEntryDetails.Count > 0)
                                        {
                                            int j = 0;
                                            foreach (var i in Model.v_GateEntryDetails)
                                            {
                                                <tr style="border:1px solid black">
                                                    <td>
                                                        @Html.HiddenFor(a => a.v_GateEntryDetails[j].pod_pk, new { @class = "form-control" })
                                                        @Html.TextBoxFor(a => a.v_GateEntryDetails[j].order_no, new { @class = "form-control", @readOnly = "readonly" })
                                                    </td>
                                                    <td>@Html.TextBoxFor(a => a.v_GateEntryDetails[j].CHL_NO, new { @class = "form-control" })</td>
                                                    <td>
                                                        @*<input type="date" class="form-control" asp-for="v_GateEntryDetails[j].CHL_DATE" name="CHL_DATE[j]" id="CHL_DATE">*@
                                                    @Html.TextBoxFor(a => a.v_GateEntryDetails[j].CHL_DATE, "{0:yyyy-MM-dd}", new { @class = "form-control fc-datepicker", @type = "date" })
                                                </td>
                                                @*<td>@Html.TextBoxFor(a => a.v_GateEntryDetails[j].Bill_NO, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(a => a.v_GateEntryDetails[j].Bill_Date, new { @class = "form-control fc-datepicker", @type = "date" })</td>*@
                                                <td>
                                                    @Html.HiddenFor(a => a.v_GateEntryDetails[j].Item_Code, new { @class = "form-control" })
                                                    @Html.TextBoxFor(a => a.v_GateEntryDetails[j].ITEM_NAME, new { @class = "form-control", @readOnly = "readonly" })
                                                </td>
                                                <td>@Html.TextBoxFor(a => a.v_GateEntryDetails[j].Qty, new { @class = "form-control", @readOnly = "readonly" })</td>
                                                <td>
                                                    @Html.TextBoxFor(a => a.v_GateEntryDetails[j].QTY_UOM, new { @class = "form-control", @readOnly = "readonly" })
                                                    @Html.HiddenFor(a => a.v_GateEntryDetails[j].QTY_CODE, new { @class = "form-control" })
                                                </td>

                                                <td>
                                                    @Html.TextBoxFor(a => a.v_GateEntryDetails[j].Bal_Qty, new { @class = "form-control", @type = "number" })
                                                    @Html.HiddenFor(a => a.v_GateEntryDetails[j].Gate_Entry_qty, new { @class = "form-control" })
                                                </td>
                                                <td>@Html.TextBoxFor(a => a.v_GateEntryDetails[j].Bal_Qty, new { @class = "form-control", @readOnly = "readonly" })</td>

                                            </tr>
                                            j++;
                                        }
                                    }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <table class="table table-bordered" Name="dataTa" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Order No</th>
                                            <th>CHL/Bill No</th>
                                            <th>CHL/Bill Date</th>
                                            <th>Item</th>
                                            <th>Atical</th>
                                            <th>Size</th>
                                            <th>Process</th>
                                            <th>Qty</th>
                                            <th>Gate Entry Qty</th>
                                            <th>Bal Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.V_JW_DTLs.Count > 0)
                                        {
                                            int j = 0;
                                            foreach (var i in Model.V_JW_DTLs)
                                            {
                                        <tr style="border:1px solid black">
                                            <td>
                                                @Html.HiddenFor(a => a.V_JW_DTLs[j].JWD_PK, new { @class = "form-control" })
                                                @Html.TextBoxFor(a => a.V_JW_DTLs[j].DOC_NO, new { @class = "form-control", @readOnly = "readonly" })
                                            </td>
                                            <td>@Html.TextBoxFor(a => a.V_JW_DTLs[j].CHL_NO, new { @class = "form-control" })</td>
                                            <td>
                                                @*<input type="date" class="form-control" asp-for="v_GateEntryDetails[j].CHL_DATE" name="CHL_DATE[j]" id="CHL_DATE">*@
                                                @Html.TextBoxFor(a => a.V_JW_DTLs[j].CHL_DATE, "{0:yyyy-MM-dd}", new { @class = "form-control fc-datepicker", @type = "date" })
                                            </td>
                                            @*<td>@Html.TextBoxFor(a => a.v_GateEntryDetails[j].Bill_NO, new { @class = "form-control" })</td>
        <td>@Html.TextBoxFor(a => a.v_GateEntryDetails[j].Bill_Date, new { @class = "form-control fc-datepicker", @type = "date" })</td>*@
                                            <td>
                                                @Html.HiddenFor(a => a.V_JW_DTLs[j].ITEM_CODE, new { @class = "form-control" })
                                                @Html.TextBoxFor(a => a.V_JW_DTLs[j].ITEM_NAME, new { @class = "form-control", @readOnly = "readonly" })
                                            </td>
                                            <td>
                                                @Html.HiddenFor(a => a.V_JW_DTLs[j].ARTICAL_CODE, new { @class = "form-control" })
                                                @Html.TextBoxFor(a => a.V_JW_DTLs[j].ARTICAL_NAME, new { @class = "form-control", @readOnly = "readonly" })
                                            </td>
                                            <td>
                                                @Html.HiddenFor(a => a.V_JW_DTLs[j].SIZE_CODE, new { @class = "form-control" })
                                                @Html.TextBoxFor(a => a.V_JW_DTLs[j].SIZE_NAME, new { @class = "form-control", @readOnly = "readonly" })
                                            </td>
                                            <td>
                                                @Html.HiddenFor(a => a.V_JW_DTLs[j].PROC_CODE, new { @class = "form-control" })
                                                @Html.TextBoxFor(a => a.V_JW_DTLs[j].PROC_NAME, new { @class = "form-control", @readOnly = "readonly" })
                                            </td>
                                            <td>@Html.TextBoxFor(a => a.V_JW_DTLs[j].QTY, new { @class = "form-control", @readOnly = "readonly" })</td>
                                            @*<td>
                                                @Html.TextBoxFor(a => a.V_JW_DTLs[j].QTY_UOM, new { @class = "form-control", @readOnly = "readonly" })
                                                @Html.HiddenFor(a => a.V_JW_DTLs[j]._CODE, new { @class = "form-control" })
                                            </td>*@

                                            <td>
                                                @Html.TextBoxFor(a => a.V_JW_DTLs[j].BAL_QTY, new { @class = "form-control", @type = "number" })
                                                @Html.HiddenFor(a => a.V_JW_DTLs[j].GATE_ENTRY_QTY, new { @class = "form-control" })
                                            </td>
                                            <td>@Html.TextBoxFor(a => a.V_JW_DTLs[j].BAL_QTY, new { @class = "form-control", @readOnly = "readonly" })</td>

                                        </tr>
                                            j++;
                                        }
                                    }
                                    </tbody>
                                </table>
                            }
                        </div>

                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    &nbsp;&nbsp;<a class="btn btn-app mr-2 mt-1 mb-1 btn-secondary pull-right" asp-action="Size_Master">Close</a>

                    <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" type="submit">
                        <i class="fa fa-save"></i> Save
                    </button>
                </div>
            </form>

        </div>

    </div>
</div>

