@model IEnumerable<WebERP.Models.Gate_HDR>

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);"> <h3 style="color:white">Gate Entry Inward Details</h3></nav>


@if (Model.Any())
{
    <a class="btn btn-success" style="width:auto" asp-controller="GateEntry" asp-action="GateEntry_Master">
        Add Gate Entry
    </a>
    @*<a class="btn btn-success" style="width:auto" asp-controller="Company" asp-action="Excel">
        Export
    </a>*@
    <hr />
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Doc Date</th>
                            <th>Doc No</th>
                            <th>Account Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Data in Model)
                        {
                        <tr>
                            <td>@Data.Type</td>
                            <td>@Data.Doc_Date.Value.Day-@Data.Doc_Date.Value.Month-@Data.Doc_Date.Value.Year </td>
                            <td>@Data.Doc_No</td>
                            <td>@Data.Acc_Name</td>
                            <td>
                                <a asp-action="EditGateEntry" asp-controller="GateEntry" asp-route-id="@Data.Doc_No">
                <i class="fas fa-user-edit"></i>
            </a>&nbsp;&nbsp;
            <a asp-action="DeleteGateEntry" asp-controller="GateEntry" asp-route-id="@Data.Doc_No">
                <i class="far fa-trash-alt"></i>
            </a>&nbsp;&nbsp;
            <a asp-action="ActionGateEntry" asp-controller="GateEntry" asp-route-id="@Data.Doc_No">
                <i class="fas fa-eye"></i>
            </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No Gate Entry Created Yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to Add Gate Entry
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="GateEntry" asp-action="GateEntry_Master">
                Add Gate Entry
            </a>
        </div>
    </div>
}
