@model IEnumerable<WebERP.Models.V_GateEntryDetail>
<style>
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    }

        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            /* Position the tooltip text */
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            /* Fade in tooltip */
            opacity: 0;
            transition: opacity 0.3s;
        }

            /* Tooltip arrow */
            .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
</style>
<div class="modal-content show-modal-content form_content">
    <div class="card">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
            <h3 style="color:white">Gate Entry</h3>
        </nav>
        <div class="card-body">
            <form id="menu-form" method="post" enctype="multipart/form-data">
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Header Details</b></h4>
                <div class="row">                    
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Date</label>
                            <div class="custom-radio">
                                <input type="date" class="form-control numb" name="" id="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Financial Year</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="" id="">
                            </div>
                        </div>
                    </div>                   
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Process Order Details</b></h4>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Order No</th>
                                        <th>Acc Name</th>
                                        <th>Chl No</th>
                                        <th>Chl Date</th>
                                        <th>Bill No</th>
                                        <th>Bill Date</th>
                                        <th>Item Name</th>
                                        <th>Qty</th>
                                        <th>Qty UOM</th>
                                        <th>Gate Entry Qty</th>
                                        <th>Bal Qty</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Data in Model)
                                    {
                                    <tr>
                                        <td><input type="text" readonly="readonly" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" value="@Data.ORDER_NO" name="ORDER_NO" id="ORDER_NO"></td>
                                        <td><input type="text" readonly="readonly" data-mdb-toggle="tooltip" title="@Data.ACC_CODE" class="form-control numb" value="@Data.ACC_CODE" name="ACC_CODE" id="ACC_CODE"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="" id=""></td>
                                        <td><input type="date" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="" id=""></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="" id=""></td>
                                        <td><input type="date" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="" id=""></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ITEM_NAME" readonly="readonly" class="form-control numb" value="@Data.ITEM_NAME" name="ITEM_NAME" id="ITEM_NAME"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.QTY" readonly="readonly" class="form-control numb" value="@Data.QTY" name="QTY" id="QTY"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.QTY_UOM" readonly="readonly" class="form-control numb" value="@Data.QTY_UOM" name="QTY_UOM" id="QTY_UOM"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.Gate_Entry_Qty" class="form-control numb" value="@Data.Gate_Entry_Qty" name="Gate_Entry_Qty" id="Gate_Entry_Qty"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.BAL_QTY" class="form-control numb" value="@Data.BAL_QTY" name="BAL_QTY" id="BAL_QTY"></td>
                                        <td><input type="text" data-mdb-toggle="tooltip" title="@Data.ORDER_NO" class="form-control numb" name="REMARKS" id="REMARKS"></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    &nbsp;&nbsp;<a class="btn btn-app mr-2 mt-1 mb-1 btn-secondary pull-right" asp-action="Size_Master">Close</a>
                    <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" asp-controller="Size" asp-action="SAVESize">
                        <i class="fa fa-save"></i> Save
                    </button>

                </div>
            </form>
        </div>

    </div>
</div>